{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - foo: Foo variable description.
 *
 * @see template_preprocess_auth_page()
 *
 * @ingroup themeable
 */
#}
<div class="wrapper-class">
  <h1>Works!!</h1>
  {{ foo }}
</div>
